---
import ContactInputs from "../components/contactInputs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="p-10 pb-14 flex text-cream-100 items-center bg-gradient-to-t from-blue-dianne-800/50 to-transparent to-15% sm:flex-row flex-col  ">
        <iframe
            class="rounded-md phone:block hidden"
            width="450"
            height="300"
            style="border:0"
            loading="eager"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.608482624929!2d-58.434822324383184!3d-34.58877189692965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb588f4af5d17%3A0x560fe6ff3f099abf!2sPlaza%20Serrano!5e0!3m2!1ses!2ses!4v1707086150787!5m2!1ses!2ses"
        >
        </iframe>

        <div class="sm:ml-20 sm:mb-20 phone:mt-10 sm:mt-0 flex flex-col gap-y-10 items-start ">
            <div>
                <h1 class="text-xl">
                    Podes encontrarnos los Fines de semana y Feriados de 10 a 20hs
                    en los Stands de Plaza Serrano.
                </h1>
                <hr class="opacity-20 mt-5" />
            </div>
            <div class="flex items-center">
                <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.6"
                    stroke="currentColor"
                    class="size-10 stroke-cream-100"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                    ></path>
                </svg>
                <h2 class="font-extralight ml-5">
                    Honduras 5001, C1414BMQ CABA
                </h2>
            </div>
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                class="size-8 fill-cream-100 ml-[3px]"
                >
                    <path d="M 12 3 C 7.04 3 3 7.04 3 12 L 3 38 C 3 42.96 7.04 47 12 47 L 38 47 C 42.96 47 47 42.96 47 38 L 47 12 C 47 7.04 42.96 3 38 3 L 12 3 z M 38 8 L 41 8 C 41.55 8 42 8.45 42 9 L 42 12 C 42 12.55 41.55 13 41 13 L 38 13 C 37.45 13 37 12.55 37 12 L 37 9 C 37 8.45 37.45 8 38 8 z M 25 10 C 30.33 10 35.019688 12.8 37.679688 17 L 42 17 L 42 37 C 42 39.76 39.76 42 37 42 L 13 42 C 10.24 42 8 39.76 8 37 L 8 17 L 12.320312 17 C 14.980313 12.8 19.67 10 25 10 z M 25 12 C 17.83 12 12 17.83 12 25 C 12 32.17 17.83 38 25 38 C 32.17 38 38 32.17 38 25 C 38 17.83 32.17 12 25 12 z M 25 16 C 29.96 16 34 20.04 34 25 C 34 29.96 29.96 34 25 34 C 20.04 34 16 29.96 16 25 C 16 20.04 20.04 16 25 16 z"></path>
                </svg>
                <h2 class="font-extralight ml-5">
                    Contactanos por Instagram en @wenbraansar o clickeando 
                    <a href="https://www.instagram.com/wenbraansar/" class="font-medium" target="_blank"> aqui </a>
                </h2>
            </div>
        </div>
    </div>

    <!-- <ContactInputs/> -->
</Layout>
