---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/introduction.astro";
import FyQ from "../components/fyq.astro";
import Bento from "../components/bento.astro";
---

<Layout>
	<main>
		<Introduction />
		<!-- Vamos a mostrar que estamos en plaza serrano -->

		<Bento />
		<!-- Vamos a mostrar que pueden ver la tienda, el blog con informacion y el contact us -->

		<FyQ />
		<!-- Como va a funcionar el sistema para comprar plantas -->
	</main>
</Layout>
