<header class="flex text-cream-100 w-screen justify-center items-center">
    <ul class="phone:flex phone:gap-10 items-center grid grid-cols-3 grid-rows-2 w-[90%] my-2 justify-center">
        <li class="phone:hidden block row-span-2 max-w-[73px]">
            <a href="/" class="w-fit">
                <img
                    src="/logo.png"
                    alt="logo"
                    class="max-h-16 -p-8 bg-blue-dianne-50 px-2 rounded-full sm:my-2 ml-1 min-h-10"
                />
            </a>
        </li>
        <li>
            <a href="/tienda">Tienda</a>
        </li>
        <li>
            <a href="/blog">Aprende</a>
        </li>
        <li class="hidden phone:block">
            <a href="/">
                <img
                    src="/logo.png"
                    alt="logo"
                    class="max-h-16 -p-8 bg-blue-dianne-50 px-2 rounded-full my-2"
                />
            </a>
        </li>
        <li>
            <a href="/#faq">FAQ</a>
        </li>
        <li>
            <a href="/contactus">Contactanos</a>
        </li>

    </ul>
    <a class="cursor-pointer text-cream-200/90">
        <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(191,226,225,0.1)" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"  />
          </svg>
          
    </a>
</header>

<style>
    img {
        backdrop-filter: blur(5px);
        border: solid 3px #207891a8;
    }
</style>
