---
import ModalShop from "./ModalShop";
---

<header class="flex text-cream-100 w-screen justify-center items-center z-[999]">
    <ul
        class="phone:flex phone:gap-10 items-center grid grid-cols-3 grid-rows-2 w-[90%] my-2 justify-center"
    >
        <li class="phone:hidden block row-span-2 max-w-[73px]">
            <a href="/" class="w-fit">
                <img
                    src="/logo.png"
                    alt="logo"
                    class="max-h-16 -p-8 bg-blue-dianne-50 px-2 rounded-full sm:my-2 ml-1 min-h-10"
                />
            </a>
        </li>
        <li>
            <a href="/tienda">Catalogo</a>
        </li>
        <li>
            <a href="/blog">Aprende</a>
        </li>
        <li class="hidden phone:block">
            <a href="/">
                <img
                    src="/logo.png"
                    alt="logo"
                    class="max-h-16 -p-8 bg-blue-dianne-50 px-2 rounded-full my-2"
                />
            </a>
        </li>
        <li>
            <a href="/#faq">FAQ</a>
        </li>
        <li>
            <a href="/contactus">Contactanos</a>
        </li>
    </ul>
    <ModalShop client:load />
</header>


<style>
    img {
        backdrop-filter: blur(5px);
        border: solid 3px #207891a8;
    }
</style>
