<header class="flex text-cream-100 w-screen justify-center">
    <ul class="flex gap-10 items-center">
        <li>
            <a href="/tienda">Tienda</a>
        </li>
        <li>
            <a href="/blog">Aprende</a>
        </li>
        <li>
            <a href="/">
                <img
                    src="/logo.png"
                    alt="logo"
                    class="max-h-16 -p-8 bg-blue-dianne-50 px-2 rounded-full my-2"
                />
            </a>
        </li>
        <li>
            <a href="/#faq">FAQ</a>
        </li>
        <li>
            <a href="/contactus">Contactanos</a>
        </li>
    </ul>
</header>

<style>
    img {
        backdrop-filter: blur(5px);
        border: solid 3px #207891a8;
    }
</style>
