


<div>
    <img src="../../public/Imagen-body.jpg" alt="plz serrano img" class="max-h-[30rem] w-screen object-cover absolute object-top rounded-3xl animate-fade-up ">
    <img src="../../public/Imagen-body.jpg" alt="plz serrano img blur" class="max-h-[30rem] w-screen object-cover top-5 blur-xl relative -z-10 brightness-150 object-top ">
</div>