<div>
    <img
        src="../../public/Imagen-body.jpg"
        alt="plz serrano img"
        class="max-h-[30rem] w-screen object-cover absolute object-top rounded-3xl animate-fade-up"
    />
    <img
        src="../../public/Imagen-body.jpg"
        alt="plz serrano img blur"
        class="max-h-[30rem] w-screen object-cover top-5 blur-xl relative -z-10 brightness-150 object-top"
    />
    <div class="flex flex-col justify-center items-center m-auto absolute z-50 top-48 left-0 right-0 text-cream-100">
        <h1 class="text-9xl">Wenbra-Ansar</h1>
        <h4 class="text-4xl">Regala Vida</h4>
        <p class="mt-20 rounded-xl p-1">Podes encontrarnos los fines de semana en Plaza Serrano o contactarnos por nuestras redes sociales!</p>
    </div>
</div>


<style>
    h1 , h4, p{
        text-shadow: #000000 1px 1px 10px;
        text-shadow: #000000 1px 1px 10px;
        text-shadow: #000000 1px 1px 10px;   
    }

    p{
        backdrop-filter: blur(5px);
    }
</style>