<div>
    <img
        src="/Imagen-body.jpg"
        alt="plz serrano img"
        class="max-h-[30rem] w-full object-cover absolute object-top rounded-3xl animate-fade-up"
    />
    <img
        src="/Imagen-body.jpg"
        alt="plz serrano img blur"
        class="max-h-[30rem] w-full object-cover top-5 blur-xl relative -z-10 brightness-150 object-top"
    />
    <div
        class="flex flex-col justify-center items-center m-auto absolute z-50 sm:top-48 phone:top-32 top-[110px] left-0 right-0 text-cream-100"
    >
        <h1 class="lg:text-9xl sm:text-7xl text-4xl">Wenbra-Ansar</h1>
        <h4 class="lg:text-4xl sm:text-2xl text-xl">Regala Vida</h4>
        <p
            class="sm:mt-20 phone:mt-8 mt-2 rounded-xl sm:p-1 p-3 text-center sm:text-lg text-sm"
        >
            Podes encontrarnos los fines de semana en Plaza Serrano o
            contactarnos por nuestras redes sociales!
        </p>
       
        <p
            class="sm:mt-7 phone:mt-2 mt-2 rounded-xl sm:p-1 p-3 text-center sm:text-xl text-sm"
        >
            También contáctanos por: Souvenirs, trabajos empresariales,
            paisajismo en balcones y empresas, y ventas al por mayor.
        </p>
    </div>
</div>

<style>
    h1,
    h4,
    p {
        text-shadow: #000000 1px 1px 10px;
        text-shadow: #000000 1px 1px 10px;
        text-shadow: #000000 1px 1px 10px;
    }

    p {
        backdrop-filter: blur(5px);
    }
</style>
